{
  "extends": "hexo",
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "strict": "off",
    "node/no-unpublished-require": "off",
    "node/no-unsupported-features": "off"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "hexo": "readonly"
  }
}
